@charset "utf-8";
/* CSS Document */

/*重置顶部宽度*/
.topbar {
    width: 1000px;
}

/*导航*/
.dp_nav {
    width: 100%;
    height: 41px;
    background: url(../../images/shop/dp_nav_bg.jpg) repeat-x;
    margin: 10px auto;
    font-family: "Microsoft YaHei";
}

.dp_nav ul {
    width: 1190px;
    height: 100%;
    margin: 0px auto;
}

.dp_nav ul li {
    width: 148px;
    height: 100%;
    float: left;
    color: #FFF;
    line-height: 41px;
    text-align: center;
    font-size: 14px;
    margin: 0;
}

.dp_nav ul li a {
    width: 148px;
    height: 100%;
    color: #FFF;
    float: left;
    padding: 0;
}

.dp_nav ul li a:hover {
    width: 146px;
    border-left: 1px solid #39AC5D;
    border-right: 1px solid #39AC5D;
    background: #07802A;
    text-decoration: none;
}

.dp_nav ul li a.dp_hover1 {
    width: 146px;
    border-left: 1px solid #39AC5D;
    border-right: 1px solid #39AC5D;
    background: #07802A;
    text-decoration: none;
}

/*内容框架*/
.dp_center {
    width: 1190px;
    overflow: hidden;
    margin: 10px auto 30px auto;
    color: #333333;
}

.dp_center a {
    color: #333333;
}

.dp_center a:hover {
    color: #333333;
}

.dp_right .tab_menu li {
    cursor: pointer;
}

.dp_right .tab_box .hide {
    display: none;
}

.dp_right {
    width: 962px;
    overflow: hidden;
    float: right;
}

.dp_right .dp_right_title1 {
    width: 960px;
    clear: both;
    height: 35px;
    background: #F5F5F5;
    border-left: 2px solid #009435;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    text-indent: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.dp_right .dp_right_title1 h1 {
    font-weight: bold;
}

.dp_right .dp_right_title1 span {
    float: right;
    font-size: 12px;
    padding-right: 10px;
    font-weight: normal;
}

* html .dp_right .dp_right_title1 span {
    margin-top: -35px;
}

* + html .dp_right .dp_right_title1 span {
    margin-top: -35px;
}

.dp_jg1 {
    margin-top: 10px;
}

.f_left {
    float: left;
}

.f_right {
    float: right;
}

/*面包屑导航*/
.layout layout-col, .content {
    display: block;
}

.layout-col .grid {
    width: 1190px;
    margin: 0px auto;
}

.grid, .grid-main, .grid-sub, .grid-extra {
    display: block;
}

.mod-brand-crumbs {
    height: 30px;
    margin-top: 8px;
    overflow: hidden;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.mod-brand-crumbs dl {
    margin: 4px 0 0 0px;
    color: #888;
    zoom: 1;
}

.mod-brand-crumbs dt {
    float: left;
    display: inline;
}

.mod-brand-crumbs dd {
    float: left;
    display: inline;
}

.mod-brand-crumbs dd a:link, .mod-brand-crumbs dd a:visited {
    color: #333;
}

.mod-brand-crumbs .crumbs {
    display: inline;
    margin: 1px 8px 0 6px;
    font-family: "\5b8b\4f53", sans-serif;
    color: #888;
}

/*左侧样式*/
.dp_left {
    width: 210px;
    overflow: hidden;
    float: left;
}

.dp_left .dp_gystitle h1 {
    font-weight: bold;
}

.dp_left .dp_left1 {
    width: 208px;
    overflow: hidden;
    float: left;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.dp_left .dp_left1 .dp_gystitle {
    width: 208px;
    height: 35px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    background: #F5F5F5;
    text-indent: 10px;
    border-bottom: 1px solid #CCCCCC;
    border-top: 2px solid #009435;
}

.dp_left .dp_left1 .ul1 {
    width: 208px;
    overflow: hidden;
    float: left;
}

.dp_left .dp_left1 .ul1 .li1 {
    width: 188px;
    height: 45px;
    margin: 0px 4px;
    padding: 0px 6px;
    border-bottom: 1px #CCC dashed;
    float: left;
    color: #077639;
    font-size: 14px;
    line-height: 45px;
    font-weight: bold;
}

.dp_left .dp_left1 .ul1 .li2 {
    width: 188px;
    height: 45px;
    float: left;
    font-size: 14px;
    line-height: 45px;
    font-weight: bold;
    padding: 0px 10px;
}

.dp_left .dp_left1 .ul1 .li3 {
    width: 188px;
    height: 25px;
    float: left;
    line-height: 25px;
    padding: 0px 10px;
}

.dp_left .dp_left1 .ul1 .li3 span {
    width: 60px;
    float: left;
    text-align: right;
}

.dp_left .dp_left1 .ul1 .li4 {
    width: 188px;
    height: 25px;
    float: left;
    line-height: 25px;
    padding: 0px 10px;
}

.dp_left .dp_left1 .ul1 .li4 span {
    width: 80px;
    float: left;
    text-align: right;
}

.dp_left .dp_left1 .ul1 .li4 {
    width: 180px;
    height: 25px;
    float: left;
    line-height: 25px;
    padding: 15px 10px;
    margin: 15px 4px 0px 4px;
    line-height: 55px;
    border-top: 1px #CCC dashed;
}

.dp_left .dp_left1 .ul1 .li5 {
    width: 188px;
    overflow: hidden;
    float: left;
    line-height: 21px;
    padding: 10px;
}

.dp_left .dp_left1 .dp_but_1 {
    width: 77px;
    height: 25px;
    float: left;
    color: #FFF;
    line-height: 25px;
    text-align: center;
    background: url(../../images/shop/dp_but_1.png) no-repeat;
}

.dp_left .dp_left1 .dp_but_1:hover {
    text-decoration: none;
    background: url(../../images/shop/dp_but_1_hover.png) no-repeat;
}

.dp_left .dp_left1 .dp_but_qq {
    width: 74px;
    height: 23px;
    float: right;
    margin-top: 1px;
    background: url(../../images/shop/dp_but_qq.png) no-repeat;
}

.dp_left .dp_left2 {
    width: 208px;
    overflow: hidden;
    float: left;
    margin-top: 10px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.dp_left .dp_left2 .dp_gystitle {
    width: 208px;
    height: 35px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    background: #F5F5F5;
    text-indent: 10px;
    border-bottom: 1px solid #CCCCCC;
    border-top: 2px solid #009435;
}

.dp_left .dp_left2 .menu_1 {
    width: 208px;
    overflow: hidden;
    float: left;
    padding: 5px 0px;
}

.dp_left .dp_left2 .menu_1 > li {
    width: 206px;
    overflow: hidden;
    padding: 0px 1px;
    float: left;
    line-height: 35px;
}

.dp_left .dp_left2 .menu_1 > li.firstChild {
    border: 0;
}

.dp_left .dp_left2 .menu_1 .header {
    height: 35px;
    line-height: 35px;
    text-indent: 5px;
    cursor: pointer;
}

.dp_left .dp_left2 .menu_1 .header:hover, .dp_left .dp_left2 .menu_1 .menuOne-current {
    background: #F3F3F3;
}

.dp_left .dp_left2 .menu_1 .header > span {
    display: block;
}

.dp_left .dp_left2 .menu_1 .header .txt {
    float: left;
    color: #333;
}

.dp_left .dp_left2 .menu_1 .header .arrow {
    float: left;
    width: 14px;
    height: 14px;
    background: url(../../images/shop/dp_jiajian.png) 0px 0px no-repeat;
    margin-top: 12px;
    margin-left: 9px;
}

.dp_left .dp_left2 .menu_2 {
    display: none;
    width: 208px;
    height: auto;
}

.dp_left .dp_left2 .menu_2 li {
    width: 178px;
    margin: 0px 15px;
    height: 35px;
}

.dp_left .dp_left2 .menu_2 li a {
    width: 100%;
    height: 100%;
    line-height: 35px;
    text-indent: 25px;
    background: url(../../images/shop/dp_left_x1.gif) 0px 0px no-repeat;
}

.dp_left .dp_left2 .menu_2 li a.list {
    background: url(../../images/shop/dp_left_x2.gif) 0px 0px no-repeat;
}

.dp_left .dp_left2 .menu_2 li.firstChild {
    border: 0;
}

.dp_left .dp_left2 .menu_2 li a {
    display: block;
    color: #444444;
}

.dp_left .dp_left2 .menu_2 li a:hover {
    font-weight: bold;
}

.dp_left .dp_left2 .menu_show .header .arrow {
    background: url(../../images/shop/dp_jiajian.png) 0px -15px;
}

.dp_left .dp_left3 {
    width: 208px;
    overflow: hidden;
    float: left;
    margin-top: 10px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.dp_left .dp_left3 .dp_gystitle {
    width: 208px;
    height: 35px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    background: #F5F5F5;
    text-indent: 10px;
    border-bottom: 1px solid #CCCCCC;
    border-top: 2px solid #009435;
}

.dp_left .dp_left3 .ul1 {
    width: 208px;
    overflow: hidden;
    float: left;
}

.dp_left .dp_left3 .ul1 .li1 {
    width: 188px;
    height: 150px;
    float: left;
    line-height: 21px;
    padding: 10px;
}

.dp_left .dp_left4 {
    width: 208px;
    overflow: hidden;
    float: left;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 10px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.dp_left .dp_left4 .dp_gystitle {
    width: 208px;
    height: 35px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    background: #F5F5F5;
    text-indent: 10px;
    border-bottom: 1px solid #CCCCCC;
    border-top: 2px solid #009435;
}

.dp_left .dp_left4 .dp_gystitle span {
    float: right;
    padding-right: 10px;
    font-weight: normal;
    font-size: 12px;
}

.dp_left .dp_left4 .ul1 {
    width: 208px;
    overflow: hidden;
    float: left;
    padding: 10px 0px;
}

.dp_left .dp_left4 .ul1 .li1 {
    width: 179px;
    height: 117px;
    float: left;
    padding: 8px 14px;
}

.dp_left .dp_left4 .dp_cccp {
    padding-top: 20px;
    display: block;
    width: 100%;
    overflow: hidden;
}

.dp_left .dp_left4 .ul2 {
    width: 170px;
    overflow: hidden;
    float: left;
    padding: 0px 19px 20px 19px;
}

.dp_left .dp_left4 .ul2 .li1 {
    width: 160px;
    height: 135px;
    float: left;
    padding: 5px;
}

.dp_left .dp_left4 .ul2 .li2 {
    width: 160px;
    height: 45px;
    float: left;
    padding: 0px 5px;
}

.dp_left .dp_left4 .ul2 .li2 span {
    height: 21px;
    width: 100%;
    float: left;
}

/*but css*/
.dp_but_add {
    width: 22px;
    height: 22px;
    float: left;
    background: url(../images/dp_xqjj.gif) 0px 0px no-repeat;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.dp_but_cut {
    width: 22px;
    height: 22px;
    float: left;
    background: url(../images/dp_xqjj.gif) 0px -22px no-repeat;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.dp_but_xq1 {
    width: 75px;
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: center;
    padding: 0px 20px;
    background: #E71504;
}

.dp_but_xq2 {
    width: 75px;
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: center;
    padding: 0px 20px;
    background: #FB7C00;
}

.dp_but_xq3 {
    width: 75px;
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: center;
    padding: 0px 20px;
    background: #009534;
}

/* input css */
.dp_input1 {
    width: 35px;
    height: 20px;
    float: left;
    border: 1px #DDDDDD solid;
    margin-right: 5px;
    text-align: center;
}

/* 主体 样式 */
.dp_mx1 {
    width: 1188px;
    height: 435px;
    border: 1px solid #E5E5E5;
    margin: 0px auto;
}

.dp_mx1 .ul1 {
    width: 1178px;
    height: 430px;
    float: left;
    padding: 10px;
}

.dp_mx1 h3 {
    width: 100%;
    height: 30px;
    float: left;
    line-height: 30px;
    color: #FF0000;
    font-weight: bold;
    font-size: 16px;
}

.dp_mx1 .ul1 .li1 {
    width: 350px;
    height: 350px;
    border-top: 1px solid #E9E9E9;
    float: left;
}

.dp_mx1 .ul1 .li1 img {
    width: 350px;
    height: 350px;
    float: left;
}

.dp_mx1 .ul1 .li2 {
    width: 787px;
    height: 40px;
    float: right;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 20px;
}

* html .dp_mx1 .ul1 .li2 {
    margin-right: 45px;
    margin-left: 45px;
}

.dp_mx1 .ul1 .li3 {
    width: 787px;
    height: 110px;
    float: right;
    margin: 0px 20px;
    background: #F5F5F5;
}

.dp_mx1 .ul1 .li3 ul {
    width: 560px;
    height: 70px;
    float: left;
    padding: 20px;
}

.dp_mx1 .ul1 .li3 ul li {
    width: 170px;
    height: 28px;
    line-height: 15px;
    float: left;
}

.dp_mx1 .ul1 .li4 {
    width: 787px;
    height: 100px;
    float: right;
    margin: 0px 20px;
    border-bottom: 1px #CCCCCC dashed;
}

.dp_mx1 .ul1 .li4 ul {
    width: 560px;
    height: 70px;
    float: left;
    padding: 20px;
}

.dp_mx1 .ul1 .li4 ul li {
    width: 170px;
    height: 32px;
    line-height: 32px;
    float: left;
}

.dp_mx1 .ul1 .li5 {
    width: 787px;
    height: 80px;
    float: right;
    padding: 0px 20px;
}

.dp_mx1 .ul1 .li5 ul {
    width: 560px;
    height: 30px;
    float: left;
    padding: 30px 20px 20px 20px;
    border-bottom: 1px #CCCCCC dashed;
}

.dp_mx1 .ul1 .li5 ul li {
    height: 22px;
    float: left;
    overflow: hidden;
}

.dp_mx1 .ul1 .li6 {
    width: 787px;
    height: 80px;
    float: right;
    padding: 0px 20px;
}

.dp_mx1 .ul1 .li6 ul {
    width: 560px;
    height: 40px;
    float: left;
    padding: 30px 20px 20px 20px;
}

.dp_mx1 .ul1 .li6 ul li {
    height: 40px;
    float: left;
    overflow: hidden;
    padding-right: 60px;
}

.dp_mx1 .ul1 .li6 ul li a {
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
}

.dp_mx1 .ul1 .li7 {
    width: 350px;
    height: 70px;
    float: left;
}

.dp_mx1 .ul1 .li7 ul .li11 {
    width: 50px;
    height: 50px;
    float: left;
    padding: 8px 9px 5px 0px;
}

.dp_mx1 .ul1 .li7 ul .last {
    padding: 8px 0px 5px 1px;
}

* html .dp_mx1 .ul1 .li7 ul .li11 {
    width: 68px;
    height: 68px;
    float: left;
    padding: 10px 3px;
}

.dp_mx1 .ul1 .li7 ul .li11 img {
    width: 50px;
    height: 50px;
    float: left;
    padding: 2px;
}

/*jqzoom*/
.jqzoom {
    position: relative;
    padding: 0;
}

.zoomdiv {
    z-index: 100;
    position: absolute;
    top: 1px;
    left: 0px;
    width: 400px;
    height: 400px;
    background: url(i/loading.gif) #fff no-repeat center center;
    display: none;
    text-align: center;
    overflow: hidden;
}

.bigimg {
    width: 800px;
    height: 800px;
}

.jqZoomPup {
    z-index: 10;
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    border: 1px solid #36c;
    background: #36c 50% top no-repeat;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    filter: alpha(Opacity=50);
    cursor: move;
}

.dp_right .title_ul {
    width: 960px;
    height: 35px;
    background: #FFF;
    border: 1px solid #cccccc;
    z-index: 9999; /* position: relative; */
}

.dp_right .title_ul .li1 {
    overflow: hidden;
    height: 100%;
    background: url(../images/dp_fg1.gif) no-repeat right;
    line-height: 35px;
    float: left;
    padding: 0px 20px;
}

.dp_right .title_ul .li2 {
    width: 127px;
    height: 16px;
    margin-top: 10px;
    float: right;
}

.dp_right .title_ul .current {
    border-top: 2px solid #BE0101;
    height: 34px;
    color: #BE0101;
    line-height: 33px;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    background: none;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    text-decoration: none;
}

.dp_right .dp_xqy {
    overflow: hidden;
    line-height: 30px;
    padding: 30px 10px;
    text-indent: 20px;
}

.dp_right .dp_xqy img {
    margin: 10px 0px;
}

.menuFixed {
    position: fixed;
    top: 0px;
}

.dp_right .dp_pjth {
    width: 100%;
    height: 35px;
    float: left;
    text-align: center;
    font-weight: bold;
    line-height: 35px;
    background: #F7F7F7;
    margin-top: 5px;
    text-indent: 0px;
}

.dp_right .dp_pjth .li1 {
    width: 294px;
    height: 100%;
    float: left;
}

.dp_right .dp_pjth .li2 {
    width: 120px;
    height: 100%;
    float: left;
}

.dp_right .dp_pjth .li3 {
    width: 100px;
    height: 100%;
    float: left;
}

.dp_right .dp_pjtd {
    width: 100%;
    height: 62px;
    float: left;
    text-align: center;
    line-height: 20px;
    text-indent: 0px;
    border-bottom: 1px #CCCCCC dashed;
}

.dp_right .dp_pjtd:hover {
    background: #F6F6F6;
}

.dp_right .dp_pjtd li span {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 20px;
}

.dp_right .dp_pjtd .li1 {
    width: 294px;
    height: 42px;
    padding: 10px 0px;
    float: left;
}

.dp_right .dp_pjtd .li2 {
    width: 120px;
    height: 42px;
    padding: 10px 0px;
    float: left;
}

.dp_right .dp_pjtd .li3 {
    width: 100px;
    height: 42px;
    padding: 10px 0px;
    float: left;
}

/* ------------弹出窗 ---------------*/
* html .xq_theme-popover-mask {
    position: absolute;
}

.xq_theme-popover {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 410px;
    height: 465px;
    margin: -200px 0 0 -200px;
    border-radius: 5px;
    display: none;
    padding: 5px;
    background: #A1A1A1;
}

* html .xq_theme-popover {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 410px;
    height: 450px;
    margin: -175px 0 0 -200px;
}

.xq_theme-poptit {
    border-bottom: 1px solid #ddd;
    padding: 6px;
    position: relative;
    background: #f3f3f3;
    font-weight: bold;
}

* html .xq_theme-poptit {
    border-bottom: 1px solid #ddd;
    padding: 6px;
    position: absolute;
    background: #f3f3f3;
    font-weight: bold;
}

.xq_theme-popbod {
    width: 378px;
    height: 412px;
    float: left;
    background: #FFF;
    padding: 10px 15px;
}

.xq_theme-all {
    width: 408px;
    height: 463px;
    float: left;
    border: solid 1px #777;
}

.xq_theme-popbod ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: #666;
}

.xq_theme-popbod ul .li1 {
    width: 78px;
    height: 30px;
    line-height: 30px;
    float: left;
    padding-right: 5px;
}

.xq_theme-popbod ul .li1_1 {
    width: 78px;
    height: 112px;
    line-height: 30px;
    float: left;
    padding-right: 5px;
}

.xq_theme-popbod ul .li2 {
    width: 295px;
    height: 30px;
    line-height: 30px;
    float: left;
}

.xq_theme-popbod ul .li3 {
    width: 295px;
    height: 120px;
    float: left;
    padding-bottom: 5px;
}

.xq_theme-popbod ul .li4 {
    width: 100%;
    height: 33px;
    float: left;
    padding-top: 20px;
    text-align: center;
}

.xq_theme-popbod ul .li4 a:hover {
    color: #FFF;
}

.xq_theme-popbod .dp_xj_but1 {
    height: 32px;
    float: left;
    line-height: 32px;
    text-align: center;
    color: #FAFAFA;
    padding: 0px 20px;
    background: #FB7C00;
    margin-left: 83px;
    border-radius: 2px;
}

.xq_theme-popbod .dp_xj_but2 {
    height: 32px;
    margin-left: 20px;
    float: left;
    line-height: 32px;
    text-align: center;
    color: #FAFAFA;
    padding: 0px 20px;
    background: #B3B3B3;
    border-radius: 2px;
}

.xq_theme-poptit .close {
    float: right;
    color: #999;
    padding: 5px;
    margin: -2px 0px -5px 0px;
    font: bold 14px/14px simsun;
    text-shadow: 0 1px 0 #777;
    text-decoration: none;
}

.xq_theme-poptit .close a {
    text-decoration: none;
}

.xq_theme-poptit .close:hover {
    color: #666;
}

.xq_theme-popbod .num-text {
    width: 52px;
    height: 18px;
    line-height: 18px;
    margin-right: 3px;
    padding: 3px;
    border: solid 1px #c8c8c8;
    vertical-align: middle;
    color: #999;
}

.xq_theme-popbod .dp_xjtr {
    width: 283px;
    margin-top: 10px;
    height: 100px;
    line-height: 18px;
    padding: 5px;
    border: solid 1px #c8c8c8;
    color: #999;
}

.dp_sc_but {
    height: 18px;
    float: left;
    background: #DFDFDF;
    line-height: 18px;
    padding: 2px 5px;

}

.xj_left {
    float: left;
}

.zd_bold {
    font-weight: bold;
}

.xj_right {
    float: right;
}

.xq_theme-popbod a {
    text-decoration: none;
    color: #444;
}

.xq_theme-popbod a:hover {
    text-decoration: underline;
    color: #ff7300;
}

/*分页样式*/
.dp_page {
    height: 37px;
    clear: both;
    overflow: hidden;
    text-align: right;
    text-indent: 0px;
    padding: 24px 0px;
}

.dp_page .page-bottom {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    *display: inline;
}

.dp_page .page-bottom a {
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: -1px;
    padding: 0 15px;
    color: #2953A6;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    border: 1px #E2E6E9 solid;
    border-radius: 1px 1px;
}

.dp_page .page-bottom a.last {
    margin-right: 0px;
}

.dp_page span {
    height: 35px;
    float: left;
    line-height: 35px;
    padding: 0px 15px;
}

.dp_page a:hover {
    text-decoration: underline;
    background: #EFEFEF;
}

.dp_page .page-op {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    *display: inline;
}

.dp_page .page-bottom a.but1hover {
    text-decoration: underline;
    background: #EFEFEF;
}

.dp_page .page-bottom a.noselect {
    cursor: text;
    color: #999999;
    text-decoration: none;
}

.dp_page .page_but2 {
    width: 35px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    padding: 3px;
    background: #E8E8E8;
    border-radius: 2px 2px;
}

.dp_page .page_but2:hover {
    background: #CACACA;
    color: #657C8A;
}

.page_input {
    width: 40px;
    height: 28px;
    display: inline-block;
    border: 1px #E2E6E9 solid;
    border-radius: 2px 2px;
    text-align: center;
    vertical-align: middle;
}

/*购物车*/
.float_rb {
    width: 285px;
    height: 35px;
    background: #000;
    position: fixed;
    right: 0;
    bottom: 2px;
    right: 2px;
    border: #ccc 1px solid;
    border-bottom: none;
}

.float_rb li.sub {
    font-size: 12px;
    float: right;
    position: relative;
    text-align: center;
    display: block;
}

.item {
    width: 283px;
    border: 1px solid #F0F0F0;
    display: none;
    position: absolute;
    left: 0;
    background: #FFF;
    z-index: 1;
    border: #ccc 1px solid;
}

#menu .w60 {
    width: 60px;
    height: 35px;
    line-height: 35px;
    background: #E71504;
}

#menu .w60 .kuang {
    width: 60px;
    height: 35px;
}

#menu .w60 a {
    text-decoration: none;
    color: #FFF;
}

#menu .w60 .left {
    width: 14px;
    height: 14px;
    margin: 10px 0px 0px 6px;
    float: left;
}

.sub3_con_top {
    width: 283px;
    height: 35px;
    color: #FFF;
    background: #FB7C00;
    overflow: hidden;
}

.sub3_con_top_kuang {
    width: 20px;
    height: 35px;
    margin: 11px 0px 0px 4px;
    float: left;
}

.sub3_con_top_text {
    width: 40px;
    height: 35px;
    line-height: 35px;
    float: left;
}

.sub3_con_top_text1 {
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    float: right;
}

.sub3_con_top_text1 a {
    color: #FFF;
}

#menu .w320 {
    width: 225px;
    height: 35px;
    line-height: 35px;
    background: #FB7C00;
}

#menu .w320 td {
    text-align: left;
    white-space: normal;
}

#menu .w320 .td1 {
    width: 100px;
    height: 40px;
    　　text-overflow: ellipsis;
}

#menu .w320 .left {
    width: 20px;
    height: 19px;
    margin: 6px 0px 0px 8px;
    float: left;
}

#menu .w320 .text {
    color: #FFF;
    margin-left: 15px;
    float: left;
}

#menu .w80 {
    width: 78px;
    height: 35px;
    line-height: 35px;
    background: #009237;
    border-top: none;
    border-bottom: bone;
    border: 1px #22ab56 solid;
}

.sub2_con_top {
    width: 320px;
    height: 35px;
    line-height: 35px;
    text-indent: 1em;
    font-weight: bold;
    color: #FFF;
    background: #029a3b;
    overflow: hidden;
}

.sub2_con_top_text {
    width: 320px;
    height: 60px;
    line-height: 40px;
    text-indent: 1em;
    border-bottom: 1px #CCCCCC dashed;
    font-family: "宋体";
}

.sub2_con_top_text_Title {
    width: 320px;
    height: 35px;
    line-height: 35px;
    text-indent: 1em;
    float: left;
}

.sub2_con_top_text_nr {
    height: 20px;
    line-height: 20px;
    text-indent: 1em;
    text-align: left
}

#menu .w70 {
    width: 59px;
    height: 35px;
    line-height: 35px;
    background: #009237;
}

.sub1_top {
    height: 30px;
    line-height: 24px;
    margin: 20px 5px 10px 5px;
    font-weight: bold;
    text-align: left;
}

.sub1_top_an {
    height: 60px;
    margin: 25px 10px 10px 10px;
}

.sub1_top_an a {
    text-decoration: none;
}

.sub1_top_an1 {
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #FFF;
    background: #009237;
    float: left;
}

.sub1_top_an2 {
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #FFF;
    background: #f77811;
    float: left;
    margin-left: 15px;
}

/*- comment_pinnumb -*/

.comment_pinnumb {
    border: 1px solid #ddd;
    border-top: 2px solid #999;
}

.mt, .smt {
    cursor: default;
    overflow: hidden;
    zoom: 1;
}

.comment_pinnumb h2 {
    padding: 0 12px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}

.comment_pinnumb .mc {
    padding: 10px 0;
    overflow: hidden;
    zoom: 1;
}

.comment_pinnumb .rate {
    float: left;
    padding: 10px 0 0;
    text-align: center;
    width: 190px;
}

.comment_pinnumb .rate span {
    color: #999;
    font-family: arial;
}

.comment_pinnumb .rate strong {
    font: 400 46px/30px arial;
    color: #e4393c;
}

.comment_pinnumb .rate strong span {
    font-size: 24px;
    color: #e4393c;
}

.comment_pinnumb .percent {
    float: left;
    width: 300px;
    height: 74px;
    padding: 8px 0;
}

.comment_pinnumb .percent span {
    color: #9C9A9C;
}

.comment_pinnumb .percent dl {
    padding: 2px 0;
    overflow: hidden;
    zoom: 1;
}

.comment_pinnumb .percent dt {
    float: left;
    width: 95px;
    line-height: 18px;
}

.comment_pinnumb .percent dd {
    float: left;
    width: 100px;
    height: 10px;
    margin-top: 6px;
    overflow: hidden;
    background: #efefef;
}

.comment_pinnumb .percent dd div {
    overflow: hidden;
    height: 10px;
    width: 0;
    background-color: #ED0000;
    background-image: -ms-linear-gradient(top, #ED0000 0, #A50000 100%);
    background-image: -moz-linear-gradient(top, #ED0000 0, #A50000 100%);
    background-image: -o-linear-gradient(top, #ED0000 0, #A50000 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ED0000), color-stop(1, #A50000));
    background-image: -webkit-linear-gradient(top, #ED0000 0, #A50000 100%);
    background-image: linear-gradient(to bottom, #ED0000 0, #A50000 100%);
}

/*评价切换*/
.dp-tabs {
    height: 39px;
}

.dp-tabs ul {
    position: relative;
    height: 30px;
    line-height: 30px;
    margin-top: 14px;
    border-right: 1px solid #DEDFDE;
    border-bottom: 1px solid #DEDFDE;
    border-left: 1px solid #DEDFDE;
    border-top: 2px solid #999;
    background-color: #F7F7F7;
    overflow: visible;
}

.dp-tabs li {
    float: left;
    display: inline;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: '微软雅黑';
    padding: 0 20px;
    text-indent: 0px;
    cursor: pointer;
}

.dp-tabs li.li1 {
    left: -1px;
}

.dp-tabs li.cur {
    position: relative;
    height: 34px;
    line-height: 34px;
    background-color: #FFF;
    border-right: 1px solid #DEDFDE;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #DEDFDE;
    border-top: 2px solid #f00;
    top: -6px;
}















