@CHARSET "utf-8";

.top-bg {
    background: url("../../images/top_bg.jpg") center;
}

/*导航*/
.type-nav {
    background-color: #f5f5f5;
    border-bottom: 5px solid #eaeaea;
    font-family: 微软雅黑;
    min-width: 1190px;
    width: 100%;
}

.type-nav-fixed {
    position: fixed;
    top: 0;
    z-index: 10000;
}

.type-nav .nav-con {
    width: 1190px;
    margin: 0 auto;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
}

.type-nav .nav-con ul.nav-con-tit {
    float: left;
    overflow: hidden;
}

.type-nav .nav-con ul.nav-con-tit li {
    width: 150px;
    float: left;
    text-align: center;
    border-right: 1px solid #eaeaea;
}

.type-nav .nav-con ul.nav-con-tit li:hover {
    background-color: #fff;
    cursor: pointer;
}

.type-nav .nav-con ul.nav-con-tit li a {
    color: #333;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}

.type-nav .nav-con ul.nav-con-tit li .nav-active {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #0EBB4F;
    border-bottom: 5px solid #04AB43;
}

/*.type-nav .nav-con ul.nav-con-tit li:hover a{ color:#f47a11;}*/
/*.type-nav .nav-con .menu-c-nav{ width:220px; background-color:#4E4E4E; position:absolute; z-index:99; margin-top:44px;} */
.type-nav .nav-con .menu-c-tit {
    width: 220px;
    text-indent: 1em;
    background-color: #0EBB4F;
    border-bottom: 5px solid #04AB43;
    overflow: hidden;
    position: absolute;
    z-index: 101;
    top: -44px;
    left: 0;
    color: #fff;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
}

.type-nav .nav-con .menu-c-tit a {
    float: right;
    font-size: 12px;
    color: #fff;
    margin-right: 5px;
}

.type-nav .nav-con .menu-c-nav ul.menu-c-list {
    display: inline-block;
    min-height: 345px;
    padding: 10px 0;
    clear: both;
    overflow: hidden;
    font-size: 14px;
    line-height: 30px;
}

.type-nav .nav-con .menu-c-nav ul.menu-c-list li {
    float: left;
    width: 210px;
    background: url(../../images/category-vegetable/line_bg.png) no-repeat center bottom;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.type-nav .nav-con .menu-c-nav ul.menu-c-list li a {
    color: #fff;
}

.type-nav .nav-con .menu-c-nav ul.menu-c-list li a:hover {
    color: #f47a11;
    text-decoration: none;
}

.type-nav .nav-con .menu-c-nav ul li dl {
}

.type-nav .nav-con .menu-c-nav ul li dt {
    color: #ffeb3e;
    font-size: 16px;
    width: 100%;
    margin: 0;
}

.type-nav .nav-con .menu-c-nav ul li dd {
    float: left;
    color: #fff;
    font-size: 12px;
    padding-right: 10px;
    margin: 0;
}

.type-nav .nav-con .menu-c-bottom {
    background: url(../../images/category-vegetable/menu-c-bottom.png) no-repeat center #333;
    height: 15px;
    width: 100%;
}

.type-nav .nav-con .menu-c-tit-v {
    background: url(../../images/category-vegetable/menu-c-bottom.png) no-repeat right center;
    padding-right: 10px;
}

/*banner*/
.type-menu {
    height: 360px;
    font-family: 微软雅黑;
}

.type-menu a {
    text-decoration: none;
}

.type-menu .menu-con {
    width: 1190px;
    margin: 0 auto;
    position: relative;
    z-index: 997;
}

.type-menu .menu-c-banner {
    height: 360px;
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 1;
}

.type-menu .menu-c-banner .hd {
    overflow: hidden;
    position: absolute;
    z-index: 98;
    left: 50%;
    margin-left: -23px;
    margin-top: 340px;
}

.type-menu .menu-c-banner .hd ul {
    overflow: hidden;
    zoom: 1;
    margin: 0 auto;
}

.type-menu .menu-c-banner .hd ul li {
    float: left;
    width: 10px;
    height: 10px;
    overflow: hidden;
    margin-right: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
}

.type-menu .menu-c-banner .hd ul li.on {
    background-color: #c40000;
}

.type-menu .menu-c-banner .bd ul {
    overflow: hidden;
    zoom: 1;
}

.type-menu .menu-c-banner .bd ul li {
    overflow: hidden;
    width: 100%;
    height: 360px;
    position: absolute;
}

.type-menu .menu-c-banner .bd ul li a {
    overflow: hidden;
    width: 100%;
    height: 360px;
    display: block;
}

.type-menu .menu-con .menu-c-user {
    width: 235px;
    height: 360px;
    position: absolute;
    margin-top: -360px;
    margin-left: 955px;
    z-index: 99;
}

/*内容*/
.type-con {
    width: 1190px;
    margin: 0 auto;
    font-family: "微软雅黑";
}

.type-con a {
    text-decoration: none;
}

.type-con a:hover {
    color: #f47a11;
}

/*--vegetable-good--*/
.vegetable-good {
    margin: 0 auto;
    width: 1190px;
    overflow: hidden;
}

.good-top {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    background: url(../../images/category-vegetable/column_tit_bg1.jpg) no-repeat;
}

.good-top h3 {
    float: left;
    height: 35px;
    line-height: 35px;
    padding-top: 15px;
    font-size: 24px;
    color: #fff;
    background: url(../../images/category-vegetable/column_tit_1.png) no-repeat center bottom;
    width: 116px;
    text-align: center;
}

.good-top ul {
    float: left;
    margin-top: 10px;
    margin-left: 450px;
}

.good-top ul li {
    float: left;
    margin: 0 10px;
    width: 100px;
    height: 33px;
}

.good-top ul li a {
    width: 100px;
    height: 25px;
    line-height: 22px;
    font-size: 18px;
    display: block;
    color: #009237;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

.good-top ul li a:hover {
    text-decoration: underline;
}

.good-top ul li.cur {
    background: url(../../images/category-vegetable/bottom_arrows_1.png) no-repeat center bottom;
}

.good-top ul li.cur a {
    color: #fff;
    background-color: #009237;
}

.goodbox-1 {
}

.goodbox .good-left {
    float: left;
}

.goodbox .good-left .good-p {
    float: left;
    width: 194px;
    height: 418px;
    background-color: #009237;
    overflow: hidden;
    color: #fff;
}

.goodbox .good-left .good-p1 {
    font-size: 16px;
    padding: 10px 19px 10px 19px;
}

.goodbox .good-left .good-p2 {
    padding: 0 19px;
    line-height: 24px;
    margin-bottom: 12px;
}

.goodbox .good-left .good-p2 a {
    color: #ffeb3e;
}

.goodbox .good-left .good-l-img1 {
    float: left;
}

.goodbox .good-left .good-l-img2 {
    float: left;
    width: 328px;
    height: 335px;
}

.goodbox .good-right {
    float: left;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    width: 861px;
    overflow: hidden;
}

.goodbox .good-right ul {
    width: 870px;
}

.goodbox .good-right li {
    float: left;
    padding-top: 10px;
    width: 215px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    border-right: 1px solid #e5e5e5;
}

.goodbox .good-right li a {
    display: block;
}

.goodbox .good-right li img {
    padding: 0 36px;
}

.goodbox .good-right .good-r-tit {
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 12px 0;
}

.goodbox .good-right .good-r-box {
    height: 142px;
    background-color: #f5f5f5;
    padding: 0 12px;
    margin-top: 10px;
}

.goodbox .good-right .good-r-box .good-bt {
    line-height: 36px;
    border-bottom: 1px solid #e6e6e6;
}

.goodbox .good-right .good-r-box .good-bt a {
    width: 190px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.goodbox .good-right .good-r-box .good-right-ad {
    line-height: 32px;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
}

.goodbox .good-right .good-r-box .good-right-ad span {
    color: #009237;
    border-radius: 3px;
    padding: 0 2px;
}

.goodbox .good-right .good-r-box .good-dz {
    color: #999;
    text-align: left;
    height: 44px;
    overflow: hidden;
}

.goodbox .good-right .good-r-box .good-dz img {
    padding: 0;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    overflow: hidden;
}

.goodbox .good-right .good-r-box .good-access {
    color: #009237;
    text-align: right;
    padding: 0 0 5px 0;
}

/*--vegetable-local--*/
.vegetable-local {
    margin: 0 auto;
    width: 1190px;
    overflow: hidden;
}

.local-top {
    margin-top: 20px;
    height: 50px;
    background: url(../../images/category-vegetable/column_tit_bg2.jpg) no-repeat;
}

.local-top h3 {
    float: left;
    height: 35px;
    line-height: 35px;
    padding-top: 15px;
    font-size: 24px;
    color: #fff;
    background: url(../../images/category-vegetable/column_tit_2.png) no-repeat center bottom;
    width: 116px;
    text-align: center;
}

.local-top ul {
    float: left;
    margin-top: 10px;
    margin-left: 450px;
}

.local-top ul li {
    float: left;
    margin: 0 10px;
    width: 100px;
    height: 33px;
}

.local-top ul li a {
    width: 100px;
    height: 25px;
    line-height: 22px;
    font-size: 18px;
    display: block;
    color: #f27902;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

.local-top ul li a:hover {
    text-decoration: underline;
}

.local-top ul li.cur {
    background: url(../../images/category-vegetable/bottom_arrows_2.png) no-repeat center bottom;
}

.local-top ul li.cur a {
    color: #fff;
    background-color: #f27902;
}

.localbox {
    width: 1188px;
    overflow: hidden;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.localbox .localbox-top {
    width: 1196px;
}

.localbox .localbox-top span {
    display: block;
    width: 396px;
    float: left;
    text-align: center;
    background-color: #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    color: #f27902;
    line-height: 42px;
    font-size: 18px;
}

.localbox-uls {
    width: 1196px;
}

.localbox ul {
    width: 397px;
    float: left;
}

.localbox ul li {
    float: left;
    height: 131px;
    width: 366px;
    padding: 10px 15px 15px 15px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}

.localbox ul li .local-left {
    float: left;
}

.localbox ul li .local-right {
    float: left;
    margin-left: 10px;
    width: 225px;
}

.localbox ul li .local-right .local-bt {
    line-height: 36px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
}

.localbox ul li .local-right .local-bt a {
    width: 225px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.localbox ul li .local-right .local-right-ad {
    line-height: 32px;
    width: 225px;
    overflow: hidden;
    white-space: nowrap;
}

.localbox ul li .local-right .local-right-ad span {
    font-size: 14px;
    color: #f27902;
    border-radius: 3px;
    padding: 0 2px;
}

.localbox ul li .local-right .local-dz {
    font-size: 14px;
    color: #999;
    text-align: left;
    height: 44px;
    width: 225px;
    overflow: hidden;
}

.localbox ul li .local-right .local-dz img {
    padding: 0;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    overflow: hidden;
}

/*--vegetable-base--*/
.vegetable-base {
    margin: 0 auto;
    width: 1190px;
    overflow: hidden;
}

.base-top {
    margin-top: 20px;
    height: 50px;
    background: url(../../images/category-vegetable/column_tit_bg3.jpg) no-repeat;
}

.base-top h3 {
    float: left;
    height: 35px;
    line-height: 35px;
    padding-top: 15px;
    font-size: 24px;
    color: #fff;
    background: url(../../images/category-vegetable/column_tit_3.png) no-repeat center bottom;
    width: 116px;
    text-align: center;
}

.base-top ul {
    float: left;
    margin-top: 10px;
    margin-left: 450px;
}

.base-top ul li {
    float: left;
    margin: 0 10px;
    width: 100px;
    height: 33px;
}

.base-top ul li a {
    width: 100px;
    height: 25px;
    line-height: 22px;
    font-size: 18px;
    display: block;
    color: #99cc33;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

.base-top ul li a:hover {
    text-decoration: underline;
}

.base-top ul li.cur {
    background: url(../../images/category-vegetable/bottom_arrows_3.png) no-repeat center bottom;
}

.base-top ul li.cur a {
    color: #fff;
    background-color: #99cc33;
}

.basebox {
    width: 1188px;
    overflow: hidden;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.basebox ul {
    width: 1196px;
}

.basebox ul li {
    float: left;
    width: 346px;
    height: 68px;
    padding: 10px 25px 20px 25px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    overflow: hidden;
}

.basebox ul li.base-t-01 {
    height: 213px;
}

.basebox ul li .base-bt {
    line-height: 36px;
    font-size: 16px;
}

.basebox ul li .base-bt img {
    float: left;
    margin-top: 9px;
    margin-right: 5px;
}

.basebox ul li .base-bt a {
    width: 345px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.basebox ul li .base-ad {
    line-height: 32px;
    width: 345px;
    overflow: hidden;
    white-space: nowrap;
}

.basebox ul li .base-ad span {
    font-size: 14px;
    color: #74ae00;
    border-radius: 3px;
    padding: 0 2px;
}

.basebox ul li .base-tit {
    width: 345px;
    background: url(../../images/category-vegetable/img_c_titbg.png) no-repeat center center;
    text-align: center;
}

.basebox ul li .base-tit span {
    line-height: 24px;
    width: 105px;
    display: block;
    color: #fff;
    background-color: #99cc33;
    margin: 0 auto;
    font-size: 14px;
}

.basebox ul li .base-imgs {
    width: 380px;
    overflow: hidden;
}

.basebox ul li .base-imgs a {
    display: block;
    width: 100px;
    float: left;
    text-align: center;
    margin-right: 24px;
}

.basebox ul li .base-imgs img {
    float: left;
}

.basebox ul li .base-imgs span {
    float: left;
    width: 100px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*--vegetable-market--*/
.vegetable-market {
    margin: 0 auto;
    width: 1190px;
    overflow: hidden;
}

.market-top {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    background: url(../../images/category-vegetable/column_tit_bg4.jpg) no-repeat;
}

.market-top h3 {
    float: left;
    height: 35px;
    line-height: 35px;
    padding-top: 15px;
    font-size: 24px;
    color: #fff;
    background: url(../../images/category-vegetable/column_tit_4.png) no-repeat center bottom;
    width: 131px;
    text-align: center;
}

.market-top a {
    float: right;
    margin-right: 20px;
    font-size: 14px;
    line-height: 50px;
    color: #333;
}

.marketbox {
    width: 1190px;
    overflow: hidden;
    margin-bottom: 20px;
}

.marketbox-left {
    float: left;
    width: 430px;
    overflow: hidden;
}

.marketbox-left-tit {
    height: 30px;
    color: #35aea9;
    border-bottom: 3px solid #35aea9;
    line-height: 24px;
    margin-bottom: 10px;
}

.marketbox-left-tit span {
    float: left;
    font-size: 18px;
}

.marketbox-left-tit a {
    float: right;
    font-size: 14px;
}

.marketbox-left .ul2 {
    float: left;
    height: 26px;
    margin-bottom: 10px;
    width: 100%;
}

.marketbox-left .ul2 li {
    float: left;
    margin-right: 14px;
}

.marketbox-left .ul2 li.mr_0 {
    margin-right: 0;
}

.marketbox-left .ul2 li div {
    background-color: #f8f8f8;
    border: 1px solid #dcdddd;
    line-height: 24px;
    padding: 0 14px;
}

.marketbox-left .ul3 {
    float: left;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    width: 100%;
}

.marketbox-left .ul3 li {
    float: left;
    margin-right: 14px;
    overflow: hidden;
    text-align: center;
}

.marketbox-left .ul3 li.li1 {
    width: 55px;
}

.marketbox-left .ul3 li.li2 {
    color: #777777;
    width: 66px;
}

.marketbox-left .ul3 li.li3 {
    color: #777777;
    width: 55px;
}

.marketbox-left .ul3 li.li4 {
    color: red;
    width: 65px;
}

.marketbox-left .ul3 li.li5 {
    color: green;
    width: 65px;
}

.marketbox-left .ul3 li.li6 {
    display: block;
    margin-right: 0;
    vertical-align: middle;
    width: 54px;
    margin-top: 7px;
}

.marketbox-right {
    float: left;
    margin-left: 20px;
    width: 740px;
    overflow: hidden;
}

.marketbox-right-tit {
    height: 30px;
    color: #35aea9;
    border-bottom: 3px solid #35aea9;
    line-height: 24px;
    margin-bottom: 10px;
}

.marketbox-right-tit span {
    float: left;
    font-size: 18px;
}

/*- side-focus -*/
.marketbox-right .slideBox {
    width: 400px;
    height: 265px;
    overflow: hidden;
    position: relative;
    float: left;
}

.marketbox-right .slideBox .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 1;
}

.marketbox-right .slideBox .hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
}

.marketbox-right .slideBox .hd ul li {
    float: left;
    margin-right: 2px;
    width: 15px;
    height: 15px;
    line-height: 14px;
    text-align: center;
    background: #fff;
    cursor: pointer;
}

.marketbox-right .slideBox .hd ul li.on {
    background: #f00;
    color: #fff;
}

.marketbox-right .slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.marketbox-right .slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
}

.marketbox-right .slideBox .bd li p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    padding-left: 5%;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    opacity: 0.67;
}

.marketbox-right .slideBox .bd img {
    width: 400px;
    height: 265px;
    display: block;
}

.marketbox-right .marketbox-right-zx {
    height: 265px;
    overflow: hidden;
    margin-bottom: 5px;
}

.marketbox-right .marketbox-right-zx-r {
    float: left;
    width: 320px;
    margin-left: 20px;
    overflow: hidden;
}

.marketbox-right .marketbox-right-zx-r p.fs16 {
    width: 100%;
    line-height: 24px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.marketbox-right .marketbox-right-zx-r p.fs16:hover {
    color: #f47a11;
}

.marketbox-right .marketbox-right-zx-r p.fs14 {
    width: 100%;
    line-height: 24px;
    color: #666;
}

.marketbox-right .marketbox-right-zx-r p.fs14:hover {
    color: #f47a11;
}

.marketbox-right .marketbox-right-zx-r li {
    border-bottom: 1px dotted #e5e5e5;
    padding-top: 8px;
    padding-bottom: 10px;
}

.marketbox-right .marketbox-right_sg {
    width: 720px;
    height: 110px;
    overflow: hidden;
}

.marketbox-right .marketbox-right_sg ul {
    width: 750px;
}

.marketbox-right .marketbox-right_sg ul li {
    float: left;
    width: 345px;
    margin-right: 30px;
}

.marketbox-right .marketbox-right_sg ul li p.fs16 {
    width: 100%;
    line-height: 20px;
    padding-bottom: 10px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.marketbox-right .marketbox-right_sg ul li p.fs16:hover {
    color: #f47a11;
}

.marketbox-right .marketbox-right_sg ul li img {
    float: left;
}

.marketbox-right .marketbox-right_sg ul li p.fs12 {
    float: left;
    color: #666;
    text-indent: 2em;
    margin-left: 10px;
    width: 205px;
    line-height: 25px;
}

.marketbox-right .marketbox-right_sg ul li p.fs12:hover {
    color: #f47a11;
}