<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.LevelDao">
    <resultMap id="level" type="com.liangxunwang.unimanager.model.Level">
        <id column="mm_level_id" property="mm_level_id"/>
        <result column="mm_level_name" property="mm_level_name"/>
        <result column="mm_level_cont" property="mm_level_cont"/>
        <result column="mm_level_num" property="mm_level_num"/>
    </resultMap>

    <select id="lists" resultMap="level">
        SELECT * from mm_level ORDER BY mm_level_num asc
    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.Level">
        INSERT INTO mm_level(mm_level_id, mm_level_name, mm_level_cont, mm_level_num)
        VALUES (#{mm_level_id}, #{mm_level_name}, #{mm_level_cont}, #{mm_level_num})
    </insert>


    <delete id="delete" parameterType="String">
        DELETE FROM mm_level where mm_level_id = #{mm_level_id}
    </delete>

    <select id="findById" parameterType="String" resultMap="level">
        SELECT * FROM mm_level where mm_level_id=#{mm_level_id}
    </select>

    <update id="update" parameterType="com.liangxunwang.unimanager.model.Level">
        UPDATE mm_level SET mm_level_name=#{mm_level_name}, mm_level_cont=#{mm_level_cont}, mm_level_num=#{mm_level_num} WHERE mm_level_id=#{mm_level_id}
    </update>
</mapper>