@charset "utf-8";

body {
}

body, button, input, select, textarea {
    color: 000;
    font: 12px/1.5 tahoma, arial, 微软雅黑
}

.nav {
    margin-bottom: 15px;
}

.main {
}

.content {
    width: 978px;
    float: left;
    border: 1px solid #e5e5e5;
}

.popbox {
    margin: 50px;
}

.popcont {
}

.zh_table {
    font-size: 16px;
}

.zh_table .t_r {
    text-align: right;
}

.zh_table td {
    padding: 10px 20px;
}

.inpt {
    border: 1px solid #e5e5e5;
    height: 30px;
    line-height: 30px;
    width: 310px;
    margin-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    border-radius: 3px;
}

.btn_org {
    margin-right: 5px;
    vertical-align: middle;
    background: none repeat scroll 0 0 #f47a11;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 8px 45px;
    text-decoration: none;
    cursor: pointer;
}

.btn_org:hover {
    background-color: #ff4200;
    text-decoration: none;
}